<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Buscar Categoria</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- <table>
            {{form.as_table}}
        </table> -->
        <input type="char" name="Rubro" id="">
        <input type="submit" value="buscar">

    </form>

    <h2>Resultado</h2>
    <ul>
        {% for resultado in Rubros %}
            <li>{{resultado.Rubro}} [{{resultado.Descripcion}}]</li>
        {% endfor %}
    </ul>
</body>
</html>