{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Buscar Usuario {% endblock %} </title>

{% block contenido %}

<body>
    <h2>Buscar Usuario</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- <table>
            {{forms.as_table}}
        </table> -->
        <input type="char" name="Nombre" id="">
        <input type="submit" value="buscar">

    </form>

    <h2>Resultado</h2>
    <ul>
        {% for resultado in Nombres %}
            <li>{{resultado.Nombre}} [{{resultado.Apellido}}]</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'inicio' %}">+ Inicio</a>
</body>
          
{% endblock %}