<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Buscar Usuario</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- <table>
            {{forms.as_table}}
        </table> -->
        <input type="char" name="Nombre" id="">
        <input type="submit" value="buscar">

    </form>

    <h2>Resultado</h2>
    <ul>
        {% for resultado in Nombres %}
            <li>{{resultado.Nombre}} [{{resultado.Apellido}}]</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'inicio' %}">+ Inicio</a>
</body>
</html>