{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Inicio {% endblock %} </title>

{% block contenido %}
<div class="container px-5">
  <body>

    <div class="container-md" >

      <h2>Buscar Categoria</h2>

      <form action="" method="POST">
          {% csrf_token %}
          <!-- <table>
              {{form.as_table}}
          </table> -->
          <input type="char" name="Rubro" id="">
          <input type="submit" value="buscar">

      </form>
    
    </div>

      <br>
      <h4>Resultado</h4>
      <div class="container px-6">
          {% for resultado in Rubros %}
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{resultado.Rubro}}</h6>
                  <small>3 days ago</small>
              </div>
              <p class="mb-1">{{resultado.Descripcion}}</p>
              <small>And some small print.</small>
            </a>
          </div>        
          {% endfor %}

      </div>
      <br>
      <a href="{% url 'inicio' %}">+ Inicio</a>
  </body>
</div>

{% endblock %}