{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Categorias {% endblock %} </title>

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <table>
        <thead>
            <td> Rubro </td>
            <td> Descripcion </td>

        </thead>

        {% for categoria in Categorias %}
        <tr>
            <td> {{categoria.Rubro}}</td>
            <td> {{categoria.Descripcion}}</td>
        </tr>
        {% endfor %}    
    </table>

    <br>
    <a href="{% url 'crear_categoria' %}">+ Crear Nueva Categoria</a> <br>
    <a href="{% url 'buscar_categoria' %}">+ Buscar Categoria</a>

</body>
</html>
{% endblock %}