{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Categorias {% endblock %} </title>

{% block contenido %}


<div class="card">
  <div class="card-header">
    <td> <a name="" id="" class="btn btn-info" href="crear_categoria" role="button">Agregar nueva categoria</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Categorias:</h4>
    
    <table class="table">
      <thead>        
        <tr>
          <th>ID</th>
          <th>Rubro</th>
          <th>Descripción</th>      
        </tr>
      </thead>
      <tbody>   
        {% for categoria in Categorias %}
        <tr>
          <td>{{categoria.id}}</td>
          <td>{{categoria.Rubro}}</td>
          <td>{{categoria.Descripcion}}</td>          
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>


{% endblock %}

