{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Publicaciones {% endblock %} </title>

{% block contenido %}

<div class="container px-5">
<div class="card">
  <div class="card-header">
    <td> <a name="" id="" class="btn btn-info" href="crear_publicacion" role="button">Crear nueva publicación</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Publicaciones:</h4>
    
    <table class="table">
      <thead>        
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Texto</th>
                   
        </tr>
      </thead>
      <tbody>   
        {% for publicacion in Publicaciones %}
        <tr>
          <td>{{publicacion.id}}</td>
          <td>{{publicacion.Titulo}}</td>
          <td>{{publicacion.Texto}}</td>     
               
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>

{% endblock %}