{% extends "BlogApp/base.html" %}

<title> {% block titulo%} Usuarios {% endblock %} </title>

{% block contenido %}
<div class="container px-5">
<div class="card">
  <div class="card-header">
    <td> <a name="" id="" class="btn btn-info" href="crear_usuario" role="button">Agregar nuevo usuario</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">usuarios:</h4>
    
    <table class="table">
      <thead>        
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>   
          <th>Pais</th>  
          <th>Edad</th>       
        </tr>
      </thead>
      <tbody>   
        {% for usuario in Usuarios %}
        <tr>
          <td>{{usurio.id}}</td>
          <td>{{usuario.Nombre}}</td>
          <td>{{usuario.Apellido}}</td>     
          <td>{{usuario.Email}}</td>  
          <td>{{usuario.Pais}}</td>  
          <td>{{usuario.Edad}}</td>       
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>
{% endblock %}